<div class="container-fluid">
  <div class="row info-top-header">    
    <div class="row" style="margin:0;">
      <div class="row" style="margin:0;">
        <div class="center-block placeholder image-placeholder" style="width: 206px; height: 206px;position: relative;">
          <img ng-src="data:image/png;base64,{{employee.image}}"  onerror="this.src = 'img/dummy_user.jpg';" class="employee-image center-block"/>                 
        </div>
      </div>
      <div class="row" style="margin:0;">
        <div class="col-md-12 employee-data-firstrow">{{employee.firstName}} {{employee.lastName}}</div>
        <div class="col-md-12 employee-data-secondrow" style="text-transform: capitalize;">{{employee.organizationName}} {{employee.subOrganizationName}}</div>
        <div class="col-md-12 employee-data-secondrow" style="text-transform: capitalize;margin-top: -10px;">{{employee.jobTitle}}</div>                
      </div>  
    </div>
  </div>  

  <div class="row row-centered">
    <div class="col-xs-12 col-md-6 col-lg-6 col-centered col-max">
      
      <div ng-cloak layout-gt-sm="row" layout="column">
        <div flex-gt-sm="50" flex>
          <md-content>
            <md-subheader class="md-no-sticky no-background">Podaci o zaposleniku:</md-subheader>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">person_outline</md-icon>
              <div class="md-list-item-text">
                <h3> IME I PREZIME: </h3>
                <p> {{employee.firstName}} {{employee.lastName}}</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">view_carousel</md-icon>
              <div class="md-list-item-text">
                <h3> ORGANIZACIJSKA JEDINICA: </h3>
                <p> {{employee.organizationName}} </p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">view_column</md-icon>
              <div class="md-list-item-text">
                <h3> PODORGANIZACIJSKA JEDINICA: </h3>
                <p> {{employee.subOrganizationName}} </p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">domain</md-icon>
              <div class="md-list-item-text">
                <h3> RADNO MJESTO: </h3>
                <p> {{employee.jobTitle}} </p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">place</md-icon>
              <div class="md-list-item-text">
                <h3> LOKACIJA: </h3>
                <p> {{employee.location}} </p>
              </div>
            </md-list-item>                                                

          </md-content>
        </div>

        <div flex-gt-sm="50" flex>
          <md-content>
            <md-subheader class="md-no-sticky no-background">Kontakt podaci:</md-subheader>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">call</md-icon>
              <div class="md-list-item-text">
                <h3> TELEFON: </h3>
                <p> {{employee.telephoneNumber}} </p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">stay_primary_portrait</md-icon>
              <div class="md-list-item-text">
                <h3> MOBITEL: </h3>
                <p> {{employee.mobilephoneNumber}} </p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line custom-list">
              <md-icon md-font-library="material-icons" style="width: 36px !important; height: 36px !important; font-size: 36px;">mail_outline</md-icon>
              <div class="md-list-item-text">
                <h3> EMAIL: </h3>
                <p> {{employee.email}} </p>
              </div>
            </md-list-item>            

          </md-content>
        </div>
      </div>      
    </div>
  </div>

  <div class="row row-centered" style="margin-top: 50px;">
    <div class="col-xs-12 col-md-6 col-lg-6 col-centered col-max">
      <md-button class="md-warn">Prijavi netočne podatke</md-button>
      <md-button>Izmijeni podatke</md-button>      
    </div>
  </div>  

</div>	