<div class="container">
  <div class="row" style="margin: 30px 0;">

  </div>	
  <div class="row">
    <div class="col-md-2 col-lg-2 visible-md-block visible-lg-block"></div>
    <div class="col-md-8 col-lg-8" style="padding-top: 20px;">
      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <md-tab label="Prema broju">
          <md-content class="md-padding">
            <md-input-container style="width: 100%;">
              <label>Upišite pojam</label>
              <input type="text" ng-model="input.term">
            </md-input-container>
            <div style="width: 100%;">
              <md-button class="md-raised md-warn" style="padding: 7px 10px; margin: 0 auto; display: block !important;" ng-click="findEmployeesByTerm()">Započni pretragu</md-button>
            </div>
            
          </md-content>
        </md-tab>
        <md-tab label="Prema slovu">
          <md-content class="md-padding">
            <md-select ng-model="selectedLetter" placeholder="Odaberite slovo">
              <md-option ng-value="letter" ng-repeat="letter in letters">{{ letter.name }}</md-option>
            </md-select>
          </md-content>
        </md-tab>
        <md-tab label="Organizacijska jedinica">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
    <div class="col-md-2 col-lg-2 visible-md-block visible-lg-block"></div>
  </div> 

  <div class="row">
    <div class="col-md-2 col-lg-2 visible-md-block visible-lg-block"></div>
    <div class="col-md-8 col-lg-8" style="padding-top: 50px;">
      <div ng-cloak layout-gt-sm="row" layout="column">
        <div flex-gt-sm="50" flex>
          <md-content>
            <md-list flex>
              <md-divider ng-show="employees.length > 0"></md-divider>
              <!--ng-show="employees.length > 0"           ng-if="x.id === sub"-->
              <div ng-repeat="letter in letters">
                <div ng-repeat="employee in employees">
                  <md-subheader class="md-no-sticky" ng-if="dividerHandler(employee, letter)">{{letter}}</md-subheader>
                  <md-list-item class="md-3-line" ng-click="null" ng-if="employee.lastName.charAt(0).toUpperCase() === letter">
                    <img ng-src="data:image/png;base64,{{employee.smallImage}}" class="md-avatar"/>
                    <div class="md-list-item-text" layout="column">
                      <h3 class="bold">{{ employee.firstName }} {{ employee.lastName }}</h3>
                      <h4>{{ employee.organizationName }} {{ employee.subOrganizationName }}</h4>
                      <h4>
                        <span ng-bind-html="employee.telephoneNumber | formatTelephone | formatText: 'TELEFON: '"></span>
                        <span ng-bind-html="employee.mobilephoneNumber | formatMobile | formatText: 'MOBITEL: '"></span>
                      </h4>
                    </div>
                    <md-divider ></md-divider>
                  </md-list-item>
                </div>
              </div>
            </md-list>      
          </md-content>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-lg-2 visible-md-block visible-lg-block"></div>    
  </div>     
</div>