<div class="container-fluid">
  <div class="row row-centered">
    <div class="col-xs-24 col-md-16 col-lg-16 col-centered col-max-wide">
	  <div class="update-title" style="margin-bottom: 50px;">
	    {{employee.firstName}} {{employee.lastName}}
	    <div style="width: 120px; height: 5px; border-bottom: 1px solid #c12017; margin: 0 auto;"></div>
	  </div>  
    </div>
   </div> 
  <div class="row row-centered">
    <div class="col-xs-24 col-md-16 col-lg-16 col-centered col-max-wide">
	  <div class="row row-centered">
	    <div class="col-xs-12 col-md-12 col-lg-12">
	      <div style="width: 380px; height: 350px; float: right;" class="resizer-containers">
	      	<div class="resizer-header-label">Korisnička slika:</div>
		  	<div class="currentImage">
		  	  <img ng-src="{{largeImage}}" />
		  	</div>
		  	<div class="currentImage" ng-hide="true">
		  	  <img ng-src="{{smallImage}}" />
		  	</div>	  	
	      </div>
	    </div>
	    <div class="col-xs-12 col-md-12 col-lg-12">
	      <div style="width: 380px; height: 420px; float: left;" class="resizer-containers">
	      	<div class="resizer-header-label">Dodavanje nove slike:</div>
		    <div class="cropArea">
		      <img-crop image="myImage" result-image-format="image/jpeg" result-image="largeImage" result-image-size="300" style="height: 300px;"></img-crop>
		    </div><br/>
		    <div>
		      <div style="text-align: left;">Dodavanje nove slike:</div><br/>
		      <input type="file" id="fileInput" />
		    </div>
	      </div>
	    </div>
	  </div>
    </div>
  </div> 

  <div class="row row-centered">
    <div class="col-xs-24 col-md-16 col-lg-16 col-centered col-max-wide">
	  <div class="row row-centered" style="text-align: left;">
		  <md-content layout-gt-sm="row" layout-padding>
		    <div style="width: 100%;">
		      <md-input-container class="md-block">
		        <label>Telefon</label>
		        <input ng-model="employee.telephoneNumber">
		      </md-input-container>
		      <md-input-container class="md-block">
		        <label>Mobitel</label>
		        <input ng-model="employee.mobilephoneNumber">
		      </md-input-container>
		    </div> 	    
		  </md-content> 
	      <div style="width: 100%;">
	        <md-button ng-click="saveEmployeeData()" class="md-raised" style="margin: 0 auto; display: block !important; float: none !important;">Spremi</md-button>
	      </div>
	  </div>
    </div>
  </div>  
</div>