html {
	background-color: #fff;
}

.bold {
	font-weight: bold !important;
}

.navbar {
	border-radius: 0;
}

/* Tab changes */

md-tabs .md-tab.md-active {
	color: rgba(0,0,0,0.54);
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #F44336 !important;
    background-color: #F44336 !important;
}

/* List changes */

md-list-item ._md-list-item-inner .md-avatar, md-list-item .md-avatar {
	width: 60px;
	height: 60px;
}

.md-list-item-text h3 {
	color: #b83e2c !important;
}

.md-list-item-text h4 {
	text-transform: uppercase;
	color: rgba(0,0,0,0.67) !important;
}



md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: rgba(0,0,0,0.27);
}

.md-input-focused label {
	color: #ecb6ae !important; 
}