/* ubuntu-condensed-regular - latin */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-condensed-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('../fonts/ubuntu-condensed-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-condensed-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-condensed-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-condensed-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-condensed-v7-latin-regular.svg#UbuntuCondensed') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dosis-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Dosis Regular'), local('Dosis-Regular'),
       url('../fonts/dosis-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dosis-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dosis-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dosis-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dosis-v4-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}

html {
	background-color: #fff;
}

*:focus {
    outline: none;
}

/* Fix for a Angular Material password input field directive */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}

.bold {
	font-weight: bold !important;
}

/* Title */

.phonebook-title {
   font-size: 72px;
   font-family: 'Dosis', "Helvetica Neue",Helvetica,Arial,sans-serif;  
   text-align: center;
}

.update-title {
   font-size: 72px;
   font-family: 'Ubuntu Condensed', "Helvetica Neue",Helvetica,Arial,sans-serif;  
   text-align: center;
}

/* Tab changes */

md-tabs .md-tab.md-active {
	color: rgba(0,0,0,0.54);
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #F44336 !important;
    background-color: #F44336 !important;
}

/* List changes */

md-list-item ._md-list-item-inner .md-avatar, md-list-item .md-avatar {
	width: 60px;
	height: 60px;
}

.md-list-item-text h3 {
	color: #b83e2c !important;
}

.md-list-item-text h4 {
	text-transform: uppercase;
	color: rgba(0,0,0,0.67) !important;
}

md-list md-list-item button.md-button:not([disabled]):hover {
    background-color: rgba(255,255,255,0.1);
}

._md-subheader-content span {
	  font-size: 18px;
    color: rgba(0,0,0,0.60) !important;
    font-weight: bold;
}

.md-subheader {
	padding: 10px 10px;
}

.search-header-results {
  height: 40px;
  background: #f0f0f0;
  padding: 10px 10px;
  border-top: 2px solid #c12017;  
}

.md-subheader ._md-subheader-inner {
      padding: 2px 2px 2px 30px;
}

.md-subheader ._md-subheader-inner span span {
  font-weight: normal;
  color: #545355 !important;
}

md-divider.md-default-theme, md-divider {
    border-top-color: rgba(0,0,0,0.04);
}

md-list-item .md-button {
	display: none;
}

.md-list-item-text {
    -webkit-user-select: all;
    -moz-user-select: all; 
    -ms-user-select: all; 
    user-select: all; 
}

.no-background {
	background: #fff;
}

.custom-list h3 {
	font-size: 14px !important;
	font-weight: 600 !important;
}

.custom-list p {
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-size: 16px !important;
	color: rgba(0,0,0,0.97) !important;
	line-height: 1.4em !important;
}

/* Input changes */

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: rgba(0,0,0,0.27);
}

.md-input-focused label {
	color: #ecb6ae !important; 
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme ._md-placeholder, md-input-container ._md-placeholder {
	font-weight: 300;
	font-size: 12px;
}

/* INFO PAGE */

.info-top-header {
  height: 350px;
  background: transparent url('../img/info_top_background.jpg') no-repeat center center;   
  background-size: cover;
}

.info-top-header > .row {
  height: 350px;    
  background: rgba(0,0,0,.64);
}

.employee-image {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.employee-data-firstrow, .employee-data-secondrow {
  height: 35px;
  font-size: 24px;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 1);
}

.employee-data-firstrow {
  margin-bottom: 15px;    
  font-size: 36px;
  font-family: 'Ubuntu Condensed', "Helvetica Neue",Helvetica,Arial,sans-serif;
}    

.employee-data-secondrow {
	font-family: 'Open Sans', Arial, sans-serif !important;
  font-size: 16px;
  color: #ccc;    
}

.sub-info-header {
  height: 25px;    
  background-color: #b83e2c;
  border-top: 1px solid white;
}

.col-centered button, .col-centered a {
  float: right;
}

/* Info center column */

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

.col-fixed {
  width:800px;
}

.col-min {
  min-width:800px;
}

.col-max {
  max-width:800px;
}

.col-min-wide {
  min-width:1000px; 
}

.col-max-wide {
  max-width:1000px; 
}

/* Image Resizer */

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:300px;
}

.currentImage {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  min-height: 150px;
  height:auto;
}

.resizer-containers {
  font-family: 'Open Sans', Arial, sans-serif !important;
}

.resizer-header-label {
  font-size: 20px !important;
  color: rgba(0,0,0,0.97) !important;
  text-align: left;
}